html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: black;
}

.card {
  height: 100%; /* Make the card stretch to the row height */
  background-color: transparent;
  color: white;
}

#main-container {
  /* position: absolute; */
  padding-top: 80px; /* Account for the navbar */
  min-height: calc(100vh - 60px); /* Ensures the container takes up the height minus the button space */
}

#confirm-button {
  position: fixed; /* Stay fixed at the bottom of the viewport */
  bottom: 10px; /* 10px from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for perfect centering */
  width: 200px; /* Set a width for the button */
  z-index: 999; /* Ensure the button is above other elements */
}

#confirm-button span {
  position: absolute;
  top: 50%; /* Center text vertically within the image */
  left: 50%; /* Center text horizontally */
  transform: translate(-50%, -50%); /* Perfect centering */
  font-size: 1rem; /* Adjust text size */
  font-weight: bold;
  color: #fff; /* Text color */
}
